.reserve-button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
    padding: 20px;
    font-size: 16px;
    font-family: 'gustavo';
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
    background-color: transparent;
    border-top: 1px solid black;
    opacity: 0;
    transition: opacity 1s ease-in-out, background-color 0.3s ease;
    display: none;
    color: black;
  }
  
  .reserve-button.show {
    opacity: 1;
  }
  
  .reserve-button.hidden {
    opacity: 0;
  }
  
  /* Responsiveness */
  @media (max-width: 1024px) {
    .reserve-button {
      display: block;
    }
  }
  