.ultraContainerHotels{
height: 100vh;
display: flex;
align-items: flex-end;
background-color: #FEFAF1;
}

.hotelsLandingContainer{
    display: flex;
    
    align-items: flex-end;
    gap: 20px;
    padding: 0px 20px;
    height: 100vh;
    background-color: #FEFAF1;
}

.hotelsLandingContainer .top{
    text-align: left;
}


.hotelsLandingContainer .slick-track{
    gap: 20px;
}

.hotelsLandingContainer .feuillet{
    position: relative;
    display: grid;
    flex-direction: column;
    height: calc(100% - 99px);
    width: calc(100% / 3);
}
.hotelsContainer .feuillet .title{
    font-family: 'gustavo';
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 15px;
    margin: 0px;
}

.hotelsLandingContainer .feuillet .adress{
    font-family: 'calsonproitalic';
    font-size: 17px;
    letter-spacing: 0.03rem;
    line-height: 15px;
    font-style: italic;
    margin: 10px 0px;
}

.hotelsLandingContainer .feuillet .bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FEFAF1;
    width: 70%;
    padding: 15px;
}

.hotelsLandingContainer .feuillet img{
    width: 100%;
    height: auto;
    align-self: flex-end;
}

.feuillet .top .title{
    font-family: 'gustavo';
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 14px;
    margin: 0px 0px 10px;
}

.feuillet .bottom p{
    font-family: 'gustavo';
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 14px;
}


.feuillet .bottom .texte{
    font-family: 'calsonpro';
    letter-spacing: 0.03rem;
    font-size: 16px;
    line-height: 22px;
    text-transform: initial;
    margin: 10px 0px;
}

.feuillet .bottom .voyager{
    text-align: right;
}