.superContainer{
    height: 100vh;
    display: flex;
    align-items: flex-end;
    background-color: #FEFAF1;
}

.historyContainer{
    display: flex;   
    padding: 0px 20px 20px;
    gap: 20px;
}

.historyContainer .leftPart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.historyContainer .leftPart h1,
.historyContainer .leftPart h2{
    font-family: 'gustavoreg';
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 14px;
    margin: 0px;
    margin-bottom: 24px;
}

.historyContainer .leftPart .firstBlockText,
.historyContainer .leftPart .secondBlockText{
   width: 90%;
   display: flex;
   flex-direction: column;
   gap: 30px;
   margin-bottom: 24px;
}

.historyContainer .leftPart .firstBlockText p{
    font-family: 'calsonpro';
    letter-spacing: 0.03rem;
    font-size: 16px;
    line-height: 22px;
    margin: 0px;
}

.historyContainer .leftPart .secondBlockText p{
    font-family: 'calsonproitalic';
    letter-spacing: 0.03rem;
    font-size: 16px;
    line-height: 22px;
    margin: 0px;
}

.historyContainer .leftPart img{
    height: auto;
    width: 18%;
    align-self: flex-end;
}

.historyContainer .rightPart{
    display: flex;
    width: 40%;
    align-items: flex-end;
}

.historyContainer .rightPart img{
    width: 100%;
    height: auto;
}