.section2LandingMobile{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    margin: 0px 10px;
}
.section2LandingMobile .textContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

.section2LandingMobile .textContainer p{
    font-family: 'calsonpro';
    font-size: 15px;
    letter-spacing: 0.06rem;
    line-height: 18px;
    margin: 0px;
    text-align: justify;
}

.section2LandingMobile .textContainer .title{
    font-family: 'calsonpro';
    font-size: 17px;
    letter-spacing: 0.03rem;
    line-height: 18px;
    font-style: italic;
    margin: 0px;
}

.section2LandingMobile .imgMobile{
    width: 60%;
    height: auto;
}