.hidden {
    opacity: 0;
    visibility: hidden;
  }
  

  .Sublogo{
    width: 100%;
    height: auto;
  }
  
  
  .fade-in {
    animation: fadeIn 1s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

  .navContainer .filter{
    display: flex;
    justify-content: space-between;
    width: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 101;
    color: black;
    transform: translateX(-50%);
}

  .navContainer .filter p {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    font-family: 'calsonpro';
    padding: 0px;
    margin: 0px;
    width: fit-content;
  }

  .navContainer .filter p.active {
    border-bottom: 1px solid black;
    font-family: 'calsonproitalic';
  }

  .burger-icon svg:hover {
    cursor: pointer;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
  }
  
  .navContainer {
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    background-color: #FEFAF1;
    transition: background-color 0.3s ease;
  }
  
  .navContainer.transparent {
    background-color: rgba(255, 255, 255, 0); /* Ajustez la transparence selon vos besoins */
    transition: background-color 0.3s ease;
  }
  
  .smallNavContainer {
    width: calc(100% - 40px);
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
    padding: 34px 0px;
  }
  
  .navRight {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .navRight a{
    align-self: flex-end;
  }
  
  .booking {
    font-family: 'gustavo';
    font-size: 17px;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    display: none;
  }
  
  .booking:hover {
    cursor: pointer;
  }
  
  .menu {
    display: none;
    flex-direction: column;
    height: 100vh;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FEFAF1;
    z-index: 99;
    position: fixed;
    width: 100%;
  }
  
  .menu.open {
    display: flex;
    background-color: #FEFAF1;
  }
  
  .menu img {
    align-self: flex-start;
  }
  
  .subMenu {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    text-align: center;
    background-color: #FEFAF1;
    justify-content: center;
    margin: auto;
    gap: 10px;
  }
  
  .subMenu .hotel {
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'gustavo';
    color: black;
    letter-spacing: 0.03rem;
    margin: 0px;
  }
  
  .subMenu .hotel:hover {
    cursor: pointer;
  }
  
  .subMenu a {
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'gustavo';
    color: black;
    letter-spacing: 0.03rem;
  }
  
  .bottomLine {
    display: flex;
    width: calc(100% - 40px);
    margin: 0px 20px 20px;
    justify-content: space-between;
  }
  
  .langue {
    display: flex;
    gap: 15px;
  }
  
  .langue button:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
    transition-duration: 300ms;
  }
  
  .langue button:focus {
    border-bottom: 1px solid black;
  }
  
  .langue button {
    font-family: 'gustavo';
    font-size: 14px;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
  }
  
  .bottomLine .contact {
    font-family: 'gustavo';
    font-size: 17px;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
  }
  
  .hotellist {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .hotellist .hotelLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .hotelLink .nextHotelLink {
    font-family: 'calsonpro';
    font-size: 13px;
    font-style: italic;
    letter-spacing: 0.03rem;
  }
  
  .hotellist a {
    font-family: 'calsonpro';
    font-size: 17px;
    text-transform: initial;
  }
  
  .hotellist a,
  .hotelLink .nextHotelLink {
    margin: 0px;
  }
  
  .titleHotelLink {
    font-family: 'gustavo';
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.03rem;
    font-size: 14px;
    margin: 0px;
  }
  
  @media screen and (max-width: 1024px) {
    .Sublogo,
    .booking {
      display: none;
    }

    .navContainer .filter{
      display: none;
  }
  
    .smallNavContainer {
      padding-top: 20px;
      margin-left: 10px;
    }
  
    .Logo {
      width: 85%;
      height: auto;
    }
  
    .burger-icon svg {
      width: 30px;
      height: 20px;
    }
  
    .bottomLine {
      justify-content: flex-end;
    }
  
    .bottomLine .langue {
      flex-direction: column-reverse;
    }
  
    .bottomLine .contact {
      display: none;
    }
  
    .subMenu {
      gap: 25px;
    }
  
    .subMenu .hotel,
    .subMenu a {
      font-size: 26px;
    }
  
    .titleHotelLink {
      font-size: 12px;
    }
  
    .hotellist a {
      font-size: 12px;
    }
  
    .hotelLink .nextHotelLink {
      font-size: 10px;
    }
  
    .hotelLink img {
      width: 10px;
      height: auto;
    }
  }
  